debug_flows.json
[
    {
        "id": "f05aa942b1642935",
        "type": "tab",
        "label": "Homelab IR Debug",
        "disabled": false,
        "info": ""
    },
    {
        "id": "inject_start",
        "type": "inject",
        "z": "f05aa942b1642935",
        "name": "Auto-Start",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.5,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 100,
        "wires": [["ir_listener_spawn"]]
    },
    {
        "id": "ir_listener_spawn",
        "type": "exec",
        "z": "f05aa942b1642935",
        "command": "stdbuf -oL sudo ir-keytable -s rc0 -t",
        "addpay": false,
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "name": "IR Luistervink",
        "x": 300,
        "y": 100,
        "wires": [["parse_ir_key", "debug_step_1"], [], []]
    },
    {
        "id": "debug_step_1",
        "type": "debug",
        "z": "f05aa942b1642935",
        "name": "Stap 1: Ingang",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "payload",
        "x": 320,
        "y": 160,
        "wires": []
    },
    {
        "id": "parse_ir_key",
        "type": "function",
        "z": "f05aa942b1642935",
        "name": "Lijnsplitser",
        "func": "let lines = msg.payload.toString().split(\"\\n\");\nlet messages = [];\nlines.forEach(line => {\n    if (line.includes(\"KEY_\")) {\n        let match = line.match(/KEY_[A-Z0-9_]+/);\n        if (match) {\n            messages.push({ payload: match[0], raw: line });\n        }\n    }\n});\nreturn [messages];",
        "outputs": 1,
        "x": 520,
        "y": 100,
        "wires": [["rate_limiter", "debug_step_2"]]
    },
    {
        "id": "debug_step_2",
        "type": "debug",
        "z": "f05aa942b1642935",
        "name": "Stap 2: Vertaler",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "payload",
        "x": 540,
        "y": 160,
        "wires": []
    },
    {
        "id": "rate_limiter",
        "type": "delay",
        "z": "f05aa942b1642935",
        "name": "Limiter",
        "pauseType": "rate",
        "maxRate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "outputs": 1,
        "x": 720,
        "y": 100,
        "wires": [["switch_key_filter", "debug_step_3"]]
    },
    {
        "id": "debug_step_3",
        "type": "debug",
        "z": "f05aa942b1642935",
        "name": "Stap 3: Limiter",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "payload",
        "x": 740,
        "y": 160,
        "wires": []
    },
    {
        "id": "switch_key_filter",
        "type": "switch",
        "z": "f05aa942b1642935",
        "name": "Filter",
        "property": "payload",
        "rules": [
            {"t": "eq", "v": "KEY_9", "vt": "str"},
            {"t": "eq", "v": "KEY_UP", "vt": "str"}
        ],
        "checkall": "true",
        "x": 920,
        "y": 100,
        "wires": [["k3s_pod_status"], ["debug_step_4"]]
    },
    {
        "id": "debug_step_4",
        "type": "debug",
        "z": "f05aa942b1642935",
        "name": "Stap 4: Pijltje Omhoog!",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "payload",
        "x": 1150,
        "y": 140,
        "wires": []
    },
    {
        "id": "k3s_pod_status",
        "type": "exec",
        "z": "f05aa942b1642935",
        "command": "KUBECONFIG=/etc/rancher/k3s/k3s.yaml /usr/local/bin/kubectl get pods -A",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "name": "Haal Pod Statussen",
        "x": 1150,
        "y": 80,
        "wires": [["terminal_output"], ["terminal_output"], ["terminal_output"]]
    },
    {
        "id": "terminal_output",
        "type": "debug",
        "z": "f05aa942b1642935",
        "name": "Kubernetes INFO/FOUT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "payload",
        "x": 1410,
        "y": 80,
        "wires": []
    }
]
