final_flows.json
[
    {
        "id": "f05aa942b1642935",
        "type": "tab",
        "label": "Homelab IR",
        "disabled": false,
        "info": ""
    },
    {
        "id": "inject_start",
        "type": "inject",
        "z": "f05aa942b1642935",
        "name": "Auto-Start",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.5,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 100,
        "wires": [["ir_listener_spawn"]]
    },
    {
        "id": "ir_listener_spawn",
        "type": "exec",
        "z": "f05aa942b1642935",
        "command": "stdbuf -oL sudo ir-keytable -s rc0 -t",
        "addpay": false,
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "name": "IR Luistervink",
        "x": 300,
        "y": 100,
        "wires": [["parse_ir_key"], [], []]
    },
    {
        "id": "parse_ir_key",
        "type": "function",
        "z": "f05aa942b1642935",
        "name": "Verbeterde Vertaler",
        "func": "// Zet data om naar tekst\nlet raw = msg.payload.toString();\n\n// Laat de ruwe data zien in het debug-venster (voor test)\nnode.warn(\"ONTWIJKT: \" + raw);\n\n// Zoek naar de bekende KEY_ codes\nif (raw.includes(\"KEY_\")) {\n    let match = raw.match(/KEY_[A-Z0-9_]+/);\n    if (match) {\n        msg.payload = match[0];\n        return msg;\n    }\n}\nreturn null;",
        "outputs": 1,
        "x": 520,
        "y": 100,
        "wires": [["switch_key_filter"]]
    },
    {
        "id": "switch_key_filter",
        "type": "switch",
        "z": "f05aa942b1642935",
        "name": "Knoppen Kiezer",
        "property": "payload",
        "rules": [
            {"t": "eq", "v": "KEY_9", "vt": "str"},
            {"t": "eq", "v": "KEY_UP", "vt": "str"}
        ],
        "checkall": "true",
        "x": 740,
        "y": 100,
        "wires": [["k3s_pod_status"], ["debug_up"]]
    },
    {
        "id": "k3s_pod_status",
        "type": "exec",
        "z": "f05aa942b1642935",
        "command": "KUBECONFIG=/etc/rancher/k3s/k3s.yaml /usr/local/bin/kubectl get pods -A",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "name": "Haal Pod Statussen",
        "x": 970,
        "y": 80,
        "wires": [["terminal_output"], [], []]
    },
    {
        "id": "terminal_output",
        "type": "debug",
        "z": "f05aa942b1642935",
        "name": "Kubernetes Info",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "payload",
        "x": 1190,
        "y": 80,
        "wires": []
    },
    {
        "id": "debug_up",
        "type": "debug",
        "z": "f05aa942b1642935",
        "name": "Pijltje Omhoog!",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "payload",
        "x": 1190,
        "y": 120,
        "wires": []
    }
]
