pro_flows.json
[
    {
        "id": "f05aa942b1642935",
        "type": "tab",
        "label": "Homelab IR Pro",
        "disabled": false,
        "info": ""
    },
    {
        "id": "inject_start",
        "type": "inject",
        "z": "f05aa942b1642935",
        "name": "Auto-Start",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.5,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 100,
        "wires": [["ir_listener_spawn"]]
    },
    {
        "id": "ir_listener_spawn",
        "type": "exec",
        "z": "f05aa942b1642935",
        "command": "stdbuf -oL sudo ir-keytable -s rc0 -t",
        "addpay": false,
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "name": "IR Luistervink",
        "x": 300,
        "y": 100,
        "wires": [["parse_ir_key"], [], []]
    },
    {
        "id": "parse_ir_key",
        "type": "function",
        "z": "f05aa942b1642935",
        "name": "Slimme Lijnsplitser",
        "func": "// Inkomende data splitsen op nieuwe regels\nlet lines = msg.payload.toString().split(\"\\n\");\nlet messages = [];\n\nlines.forEach(line => {\n    if (line.includes(\"KEY_\")) {\n        let match = line.match(/KEY_[A-Z0-9_]+/);\n        if (match) {\n            messages.push({ payload: match[0], raw: line });\n        }\n    }\n});\n\n// Stuur elke gevonden knop als een apart bericht door\nreturn [messages];",
        "outputs": 1,
        "x": 520,
        "y": 100,
        "wires": [["rate_limiter"]]
    },
    {
        "id": "rate_limiter",
        "type": "delay",
        "z": "f05aa942b1642935",
        "name": "Rusthouder (2s)",
        "pauseType": "rate",
        "maxRate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "outputs": 1,
        "x": 720,
        "y": 100,
        "wires": [["switch_key_filter"]]
    },
    {
        "id": "switch_key_filter",
        "type": "switch",
        "z": "f05aa942b1642935",
        "name": "Knoppen Kiezer",
        "property": "payload",
        "rules": [
            {"t": "eq", "v": "KEY_9", "vt": "str"},
            {"t": "eq", "v": "KEY_UP", "vt": "str"}
        ],
        "checkall": "true",
        "x": 920,
        "y": 100,
        "wires": [["k3s_pod_status"], ["debug_up"]]
    },
    {
        "id": "k3s_pod_status",
        "type": "exec",
        "z": "f05aa942b1642935",
        "command": "KUBECONFIG=/etc/rancher/k3s/k3s.yaml /usr/local/bin/kubectl get pods -A",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "name": "Haal Pod Statussen",
        "x": 1150,
        "y": 80,
        "wires": [["terminal_output"], [], []]
    },
    {
        "id": "terminal_output",
        "type": "debug",
        "z": "f05aa942b1642935",
        "name": "Kubernetes Info",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "payload",
        "x": 1370,
        "y": 80,
        "wires": []
    },
    {
        "id": "debug_up",
        "type": "debug",
        "z": "f05aa942b1642935",
        "name": "Pijltje Omhoog!",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "payload",
        "x": 1370,
        "y": 120,
        "wires": []
    }
]
